html , body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: silver !important;

}
.wrapper {
    margin-inline: 30px;
    margin-block: 10px;
    background-color: white;
    padding: 20px;
    border: 1px solid silver;
    border-radius: 5px;
}
.grid-input-2 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
}
.grid-input-3 {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}
.wrapper-btn {
    height: 100px;
    width: fit-content;
    display: flex;
    align-items: center;
}
.wrapper-btn button {
    padding: 10px;
    margin-inline-end: 10px;
}